.depth-6-frame-09,
.vector-05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.depth-6-frame-09 {
  width: 13px;
  height: 13px;
}
.depth-5-frame-010 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.securepass2 {
  position: relative;
  line-height: 23px;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.depth-3-frame-03 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 39px;
}
.depth-5-frame-011 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.depth-2-frame-01,
.welcome-to-securepass1 {
  align-self: stretch;
  font-family: var(--font-manrope);
  color: var(--color-white);
}
.depth-2-frame-01 {
  border-bottom: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-21xl) var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
}
.welcome-to-securepass1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 28px;
  font-weight: 700;
  text-align: center;
}
.depth-4-frame-04 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xs);
}
.enter-your-username {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: center;
}
.depth-4-frame-14,
.depth-6-frame-010 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.depth-6-frame-010 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 32px;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: var(--font-size-base);
  color: var(--color-white);
  min-width: 250px;
}
.depth-6-frame-16 {
  align-self: stretch;
  height: 32px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  overflow: hidden;
  flex-shrink: 0;
}
.depth-4-frame-21,
.depth-5-frame-012 {
  display: flex;
  justify-content: flex-start;
}
.depth-5-frame-012 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 160px;
  max-width: 100%;
}
.depth-4-frame-21 {
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 480px;
}
.depth-6-frame-012 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: 4px;
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.remember-this-account {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: center;
}
.depth-4-frame-41,
.depth-5-frame-014 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.depth-5-frame-014 {
  width: 692px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  gap: var(--gap-xs);
}
.depth-4-frame-41 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
}
.log-in1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.depth-6-frame-013 {
  width: 41px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-4-frame-5,
.depth-5-frame-015 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.depth-5-frame-015 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs-5) var(--padding-xl);
  background-color: var(--color-cornflowerblue);
  width: 480px;
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: center;
  min-width: 84px;
  max-width: 480px;
}
.depth-4-frame-5 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
  max-width: 100%;
}
.forgot-your-username {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 21px;
  font-family: var(--font-manrope);
  color: var(--color-darkgray);
  text-align: center;
}
.depth-3-frame-04,
.depth-4-frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.depth-4-frame-7 {
  align-self: stretch;
  padding: var(--padding-9xs) var(--padding-base) var(--padding-xs);
}
.depth-3-frame-04 {
  margin: 0;
  width: 960px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-xl) 0 231px;
  box-sizing: border-box;
  max-width: 960px;
}
.depth-2-frame-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) 19px;
  box-sizing: border-box;
}
.depth-1-frame-0,
.depth-2-frame-1 {
  align-self: stretch;
  max-width: 100%;
}
.depth-0-frame-01,
.depth-1-frame-0,
.galileo-design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.depth-0-frame-01 {
  align-self: stretch;
  background-color: var(--color-gray);
  min-height: 800px;
  max-width: 100%;
}
.galileo-design {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .depth-3-frame-04 {
    max-width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .depth-3-frame-04 {
    padding-bottom: 150px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .depth-4-frame-21,
  .depth-5-frame-015 {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-securepass1 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
}
